/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 7 & Lumen specific
public/storage/uploads
storage/app/public/uploads/
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# IDEs and editors
.idea/*
.vscode/*
